body {
    background: rgb(203, 157, 248);
    margin-left: 50px;
    margin-right: 30px;
}
header
{
    margin margin-top: 70px;
}

h1 
{
    color: rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
}
h2
{
    font-family: Arial, Helvetica, sans-serif;
}
p
{
    font-size: 18px;
}

.img_padrao {

    margin-bottom: 30px;
    width: 300px;
}